Data Analysis of the Paris 2024 Olympics: Original Work

Importing libraries

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

import warnings
warnings.filterwarnings('ignore')

Loading the datasets of archive folder

In [22]:
athletes_df = pd.read_csv('./archive/athletes.csv')
events_df = pd.read_csv('./archive/events.csv')
medallists_df = pd.read_csv('./archive/medallists.csv')
medals_total_df = pd.read_csv('./archive/medals_total.csv')
medals_df = pd.read_csv('./archive/medals.csv')
schedules_preliminary_df = pd.read_csv('./archive/schedules_preliminary.csv')
schedules_df = pd.read_csv('./archive/schedules.csv')
teams_df = pd.read_csv('./archive/teams.csv')
torch_route_df = pd.read_csv('./archive/torch_route.csv')
venues_df = pd.read_csv('./archive/venues.csv')

Loading the datasets of the results folder

In [23]:
basketball_3x3_df = pd.read_csv('./archive/results/3x3 Basketball.csv')
archery_df = pd.read_csv('./archive/results/Archery.csv')
artistic_gymnastics_df = pd.read_csv('./archive/results/Artistic Gymnastics.csv')
artistic_swimming_df = pd.read_csv('./archive/results/Artistic Swimming.csv')
athletics_df = pd.read_csv('./archive/results/Athletics.csv')
badminton_df = pd.read_csv('./archive/results/Badminton.csv')
basketball_df = pd.read_csv('./archive/results/Basketball.csv')
beach_volleyball_df = pd.read_csv('./archive/results/Beach Volleyball.csv')
boxing_df = pd.read_csv('./archive/results/Boxing.csv')
breaking_df = pd.read_csv('./archive/results/Breaking.csv')
canoe_slalom_df = pd.read_csv('./archive/results/Canoe Slalom.csv')
canoe_sprint_df = pd.read_csv('./archive/results/Canoe Sprint.csv')
cycling_bmx_freestyle_df = pd.read_csv('./archive/results/Cycling BMX Freestyle.csv')
cycling_bmx_racing_df = pd.read_csv('./archive/results/Cycling BMX Racing.csv')
cycling_mountain_bike_df = pd.read_csv('./archive/results/Cycling Mountain Bike.csv')
cycling_road_df = pd.read_csv('./archive/results/Cycling Road.csv')
cycling_track_df = pd.read_csv('./archive/results/Cycling Track.csv')
diving_df = pd.read_csv('./archive/results/Diving.csv')
equestrian_df = pd.read_csv('./archive/results/Equestrian.csv')
fencing_df = pd.read_csv('./archive/results/Fencing.csv')
football_df = pd.read_csv('./archive/results/Football.csv')
golf_df = pd.read_csv('./archive/results/Golf.csv')
handball_df = pd.read_csv('./archive/results/Handball.csv')
hockey_df = pd.read_csv('./archive/results/Hockey.csv')
judo_df = pd.read_csv('./archive/results/Judo.csv')
marathon_swimming_df = pd.read_csv('./archive/results/Marathon Swimming.csv')
modern_pentathlon_df = pd.read_csv('./archive/results/Modern Pentathlon.csv')
rhythmic_gymnastics_df = pd.read_csv('./archive/results/Rhythmic Gymnastics.csv')
rowing_df = pd.read_csv('./archive/results/Rowing.csv')
rugby_sevens_df = pd.read_csv('./archive/results/Rugby Sevens.csv')
sailing_df = pd.read_csv('./archive/results/Sailing.csv')
shooting_df = pd.read_csv('./archive/results/Shooting.csv')
skateboarding_df = pd.read_csv('./archive/results/Skateboarding.csv')
sport_climbing_df = pd.read_csv('./archive/results/Sport Climbing.csv')
surfing_df = pd.read_csv('./archive/results/Surfing.csv')
swimming_df = pd.read_csv('./archive/results/Swimming.csv')
table_tennis_df = pd.read_csv('./archive/results/Table Tennis.csv')
taekwondo_df = pd.read_csv('./archive/results/Taekwondo.csv')
tennis_df = pd.read_csv('./archive/results/Tennis.csv')
trampoline_gymnastics_df = pd.read_csv('./archive/results/Trampoline Gymnastics.csv')
triathlon_df = pd.read_csv('./archive/results/Triathlon.csv')
volleyball_df = pd.read_csv('./archive/results/Volleyball.csv')
water_polo_df = pd.read_csv('./archive/results/Water Polo.csv')
weightlifting_df = pd.read_csv('./archive/results/Weightlifting.csv')
wrestling_df = pd.read_csv('./archive/results/Wrestling.csv')

The following will be a head of each dataframe to verify data and get a first glance at each dataset

In [24]:
athletes_df.head()

,code,name,name_short,name_tv,gender,function,country_code,country,country_full,nationality,...,family,lang,coach,reason,hero,influence,philosophy,sporting_relatives,ritual,other_sports
0,1535420,VALENCIA Alejandra,VALENCIA A,Alejandra VALENCIA,Female,Athlete,MEX,Mexico,Mexico,Mexico,...,"Father, Francisco Ramon Valencia Fontes. Mothe...",Spanish,National/personal: Miguel Angel Flores (MEX),Grew up close to an archery range and was alwa...,NaN,NaN,NaN,NaN,NaN,NaN
1,1535429,RUIZ Angela,RUIZ A,Angela RUIZ,Female,Athlete,MEX,Mexico,Mexico,Mexico,...,Two brothers,"English, Spanish",National: Miguel Angel Flores (MEX).<br>Person...,She followed her brothers into archery,NaN,NaN,NaN,NaN,NaN,NaN
2,1535430,GRANDE Matias,GRANDE M,Matias GRANDE,Male,Athlete,MEX,Mexico,Mexico,Mexico,...,"Father, Nicolas",Spanish,National: David Alejandro Velez Sanchez (MEX),His father introduced him to the sport and the...,NaN,NaN,NaN,NaN,NaN,NaN
3,1536460,ROJAS Carlos,ROJAS C,Carlos ROJAS,Male,Athlete,MEX,Mexico,Mexico,Mexico,...,NaN,"German, Spanish",National: David Alejandro Velez Sanchez (MEX),He was inspired by the Disney animated movie R...,NaN,NaN,NaN,NaN,NaN,NaN
4,1536467,MARTINEZ WING Bruno,MARTINEZ WING B,Bruno MARTINEZ WING,Male,Athlete,MEX,Mexico,Mexico,Mexico,...,"Partner, Karla. One son (born October 2022)",Spanish,National: David Alejandro Velez Sanchez (MEX),NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
events_df.head()

,event,tag,sport,sport_code,sport_url
0,Men's Individual,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
1,Women's Individual,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
2,Men's Team,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
3,Women's Team,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
4,Mixed Team,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery

In [26]:
medallists_df.head()

,medal_date,medal_type,medal_code,name,gender,country,country_code,nationality,team,team_gender,discipline,event,event_type,url_event,birth_date,code
0,2024-07-27,Gold Medal,1,EVENEPOEL Remco,Male,Belgium,BEL,Belgium,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,2000-01-25,1903136
1,2024-07-27,Silver Medal,2,GANNA Filippo,Male,Italy,ITA,Italy,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1996-07-25,1923520
2,2024-07-27,Bronze Medal,3,van AERT Wout,Male,Belgium,BEL,Belgium,NaN,NaN,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1994-09-15,1903147
3,2024-07-27,Gold Medal,1,BROWN Grace,Female,Australia,AUS,Australia,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1992-07-07,1940173
4,2024-07-27,Silver Medal,2,HENDERSON Anna,Female,Great Britain,GBR,Great Britain,NaN,NaN,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1998-11-14,1912525

In [27]:
medals_total_df.head()

  country_code  Gold Medal  Silver Medal  Bronze Medal  Total
0          USA          33            39            39    111
1          CHN          33            27            23     83
2          AUS          18            16            14     48
3          JPN          16             8            13     37
4          FRA          14            20            22     56

In [28]:
medals_df.head()

,medal_type,medal_code,medal_date,name,country_code,gender,discipline,event,event_type,url_event,code
0,Gold Medal,1,2024-07-27,Remco EVENEPOEL,BEL,M,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1903136
1,Silver Medal,2,2024-07-27,Filippo GANNA,ITA,M,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1923520
2,Bronze Medal,3,2024-07-27,Wout van AERT,BEL,M,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1903147
3,Gold Medal,1,2024-07-27,Grace BROWN,AUS,W,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1940173
4,Silver Medal,2,2024-07-27,Anna HENDERSON,GBR,W,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1912525

In [29]:
schedules_preliminary_df.head()

,date_start_utc,date_end_utc,estimated,estimated_start,start_text,medal,venue_code,description,venue_code_other,discription_other,team_1_code,team_1,team_2_code,team_2,tag,sport,sport_code,sport_url
0,2024-07-25T07:30:00Z,2024-07-25T10:30:00Z,False,False,NaN,NaN,INV,Invalides,NaN,NaN,NaN,NaN,NaN,NaN,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
1,2024-07-25T12:15:00Z,2024-07-25T15:15:00Z,False,False,NaN,NaN,INV,Invalides,NaN,NaN,NaN,NaN,NaN,NaN,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
2,2024-07-28T07:30:00Z,2024-07-28T09:00:00Z,False,False,NaN,NaN,INV,Invalides,NaN,NaN,NaN,NaN,NaN,NaN,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
3,2024-07-28T12:15:00Z,2024-07-28T12:38:00Z,False,False,NaN,NaN,INV,Invalides,NaN,NaN,NaN,NaN,NaN,NaN,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
4,2024-07-28T13:47:00Z,2024-07-28T14:10:00Z,False,False,NaN,NaN,INV,Invalides,NaN,NaN,NaN,NaN,NaN,NaN,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery

In [30]:
schedules_df.head()

,start_date,end_date,day,status,discipline,discipline_code,event,event_medal,phase,gender,event_type,venue,venue_code,location_description,location_code,url
0,2024-07-24T15:00:00+02:00,2024-07-24T16:45:00+02:00,2024-07-24,FINISHED,Football,FBL,Men,0,Men's Group B,M,HTEAM,Geoffroy-Guichard Stadium,STE,"Geoffroy-Guichard Stadium, Saint-Etienne",STE,/en/paris-2024/results/football/men/gpb-000100--
1,2024-07-24T15:00:00+02:00,2024-07-24T16:45:00+02:00,2024-07-24,FINISHED,Football,FBL,Men,0,Men's Group C,M,HTEAM,Parc des Princes,PDP,"Parc des Princes, Paris",PDP,/en/paris-2024/results/football/men/gpc-000100--
2,2024-07-24T15:30:00+02:00,2024-07-24T15:46:00+02:00,2024-07-24,FINISHED,Rugby Sevens,RU7,Men,0,Men's Pool B,M,HTEAM,Stade de France,STA,Stade de France,STA,/en/paris-2024/results/rugby-sevens/men/gpb-00...
3,2024-07-24T16:00:00+02:00,2024-07-24T16:16:00+02:00,2024-07-24,FINISHED,Rugby Sevens,RU7,Men,0,Men's Pool B,M,HTEAM,Stade de France,STA,Stade de France,STA,/en/paris-2024/results/rugby-sevens/men/gpb-00...
4,2024-07-24T16:30:00+02:00,2024-07-24T16:46:00+02:00,2024-07-24,FINISHED,Rugby Sevens,RU7,Men,0,Men's Pool C,M,HTEAM,Stade de France,STA,Stade de France,STA,/en/paris-2024/results/rugby-sevens/men/gpc-00...

In [31]:
teams_df.head()

,code,team,team_gender,country,country_full,country_code,discipline,disciplines_code,events,athletes,coaches,athletes_codes,num_athletes,coaches_codes,num_coaches
0,ARCMTEAM3---CHN01,People's Republic of China,M,China,People's Republic of China,CHN,Archery,ARC,Men's Team,"['KAO Wenchao', 'LI Zhongyuan', 'WANG Yan']",NaN,"['1913366', '1913367', '1913369']",3.0,NaN,NaN
1,ARCMTEAM3---COL01,Colombia,M,Colombia,Colombia,COL,Archery,ARC,Men's Team,"['ARCILA Santiago', 'ENRIQUEZ Jorge', 'HERNAND...",NaN,"['1935642', '1543412', '1935644']",3.0,NaN,NaN
2,ARCMTEAM3---FRA01,France,M,France,France,FRA,Archery,ARC,Men's Team,"['ADDIS Baptiste', 'CHIRAULT Thomas', 'VALLADO...",NaN,"['1541270', '1541272', '1541275']",3.0,NaN,NaN
3,ARCMTEAM3---GBR01,Great Britain,M,Great Britain,Great Britain,GBR,Archery,ARC,Men's Team,"['HALL Conor', 'HALL Tom', 'WISE Alex']",NaN,"['1560988', '1560989', '1561003']",3.0,NaN,NaN
4,ARCMTEAM3---IND01,India,M,India,India,IND,Archery,ARC,Men's Team,"['BOMMADEVARA Dhiraj', 'JADHAV Pravin Ramesh',...",NaN,"['1546108', '1546112', '1546110']",3.0,NaN,NaN

In [32]:
torch_route_df.head()

,title,city,date_start,date_end,tag,url,stage_number
0,Lighting Ceremony,Olympia,2024-04-15T22:01:00Z,2024-04-16T10:01:00Z,lighting-ceremony,https://olympics.com/en/paris-2024/olympic-tor...,NaN
1,Relay in Greece,NaN,2024-04-16T10:02:00Z,2024-04-26T17:06:00Z,relay-in-greece,https://olympics.com/en/paris-2024/olympic-tor...,NaN
2,Handover Ceremony,Athens,2024-04-25T22:01:00Z,2024-04-26T17:07:00Z,handover-ceremony,https://olympics.com/en/paris-2024/olympic-tor...,NaN
3,Crossing the Mediterranean,Marseille,2024-04-26T17:08:00Z,2024-05-07T22:01:00Z,mediterranean-crossing,https://olympics.com/en/paris-2024/olympic-tor...,NaN
4,Prologue,Marseille,2024-05-07T22:02:00Z,2024-05-08T20:02:00Z,prologue-marseille,https://olympics.com/en/paris-2024/olympic-tor...,NaN

In [33]:
venues_df.head()

,venue,sports,date_start,date_end,tag,url
0,Aquatics Centre,"['Artistic Swimming', 'Diving', 'Water Polo']",2024-07-27T09:00:00Z,2024-08-10T20:00:00Z,aquatics-centre,https://olympics.com/en/paris-2024/venues/aqua...
1,Bercy Arena,"['Artistic Gymnastics', 'Basketball', 'Trampol...",2024-07-27T09:00:00Z,2024-08-11T16:00:00Z,bercy-arena,https://olympics.com/en/paris-2024/venues/berc...
2,Bordeaux Stadium,['Football'],2024-07-25T17:00:00Z,2024-08-02T21:59:00Z,bordeaux-stadium,https://olympics.com/en/paris-2024/venues/bord...
3,Champ de Mars Arena,"['Judo', 'Wrestling']",2024-07-27T08:00:00Z,2024-08-11T12:00:00Z,champ-de-mars-arena,https://olympics.com/en/paris-2024/venues/cham...
4,ChÃ¢teau de Versailles,"['Equestrian', 'Modern Pentathlon']",2024-07-27T07:30:00Z,2024-08-11T11:30:00Z,chateau-de-versailles,https://olympics.com/en/paris-2024/venues/chat...